/lib/
/*/output/
**/*.runs/*
**/*.cache/*
**/*.hw/*
**/*.sim/*
**/*.ip_iser_files/*
*.str
**/.Xil
**/*.vcd
**/sim_build/**
**/__pycache__/**
**/*.fst
**/*.fst.hier
**/*.asv
**/*.jou
**/*.log
./xilinx/**
**/*.png

